
  <ngx-charts-line-chart
    [view]="dimensions"
    [results]="dataset"
    [scheme]="colorScheme"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [xAxisTickFormatting]="xAxisTickFormatting"
    [timeline]="timeline"
    [activeEntries]="entries"
    [yScaleMax]="yScaleMax"
    [yScaleMin]="yScaleMin"
    [animations]="animations"
    [tooltipDisabled]="true"
    (deactivate)="onDeactivate()">
  </ngx-charts-line-chart>


