.map {
  width: 100%;
  height: 50vh;
  background-color: rgba(255, 255, 255, 0);
}

.leaflet-grid-label .gridlabel-vert {
  margin-left: 5px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.leaflet-grid-label .gridlabel-vert,
.leaflet-grid-label .gridlabel-horiz {
  padding-left: 2px;
  font-size: 0.8em;
  text-shadow: -2px 0 #000000, 0 2px #000000, 2px 0 #000000, 0 -2px #000000;
}

.leaflet-container.crosshair-cursor-enabled {
  cursor: crosshair;
}
