
project/web-ui/DroneSimulator/.idea/workspace.xml
project/web-ui/DroneSimulator/.idea/modules.xml
project/web-ui/DroneSimulator/.idea/misc.xml
project/web-ui/DroneSimulator/.idea/encodings.xml
project/web-ui/DroneSimulator/.idea/DroneSimulator.iml
*.bak_000f
