<div ngResizable rzHandles="s" rzMinHeight="375" (rzResizing)="onResize($event)">
  <app-drone-simulator [height]="leafletHeight"></app-drone-simulator>
</div>
<mat-tab-group>
  <mat-tab label="Drone Data">
    <app-drone-data *ngIf="simulator.initialized"></app-drone-data>
  </mat-tab>
  <mat-tab label="Flightpath Options">
    <app-flightpath-configuration *ngIf="simulator.initialized"></app-flightpath-configuration>
  </mat-tab>
  <mat-tab label="Drone Configuration">
    <app-drone-configuration *ngIf="simulator.initialized"></app-drone-configuration>
  </mat-tab>
  <mat-tab label="Sensor Configuration">
    <app-sensor-configuration *ngIf="simulator.initialized"></app-sensor-configuration>
  </mat-tab>
  <mat-tab label="Data Graphs">
    <app-monitor *ngIf="simulator.initialized"></app-monitor>
  </mat-tab>
</mat-tab-group>


