<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1>Dashboard</h1>
</div>
<div class="row">
  <main class="col-md">
    <app-drone-simulator></app-drone-simulator>
  </main>
  <aside *ngIf="simulator.loaded" class="col-md controls">
    <h2>Drone Controls</h2>
    <hr>
    <div class="card-deck">
      <div class="card bg-light mb-3" style="max-width: 540px;">
        <div class="card-header"></div>
        <div class="card-body">
          <h5 class="card-title">Drone Information</h5>
          <p class="card-text">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                 class="feather feather-battery-charging">
              <path d="M5 18H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h3.19M15 6h2a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-3.19"></path>
              <line x1="23" y1="13" x2="23" y2="11"></line>
              <polyline points="11 6 7 12 13 12 9 18"></polyline>
            </svg>
            Battery: 100%
          </p>
          <p class="card-text">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                 class="feather feather-map-pin">
              <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path>
              <circle cx="12" cy="10" r="3"></circle>
            </svg>
            Position: [{{simulator.drone.x}}, {{simulator.drone.y}}]
          </p>
          <p class="card-text">
            <small class="text-muted">Last updated 1 second ago</small>
          </p>
        </div>
      </div>
      <div class="card bg-light mb-3" style="max-width: 540px;">
        <div class="card-header"></div>
        <div class="card-body">
          <h5 class="card-title">Map Editing</h5>
          <div class="card-text">
            Select drawable:
          </div>
          <div class="btn-group" ngbDropdown role="group" aria-label="map-selection">
            <button *ngIf="simulator.loaded" type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle"
                    ngbDropdownToggle>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                   stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                   class="feather feather-codepen">
                <polygon points="12 2 22 8.5 22 15.5 12 22 2 15.5 2 8.5 12 2"></polygon>
                <line x1="12" y1="22" x2="12" y2="15.5"></line>
                <polyline points="22 8.5 12 15.5 2 8.5"></polyline>
                <polyline points="2 15.5 12 8.5 22 15.5"></polyline>
                <line x1="12" y1="2" x2="12" y2="8.5"></line>
              </svg>
              {{simulator.selectedDrawable}}
            </button>
            <div class="dropdown-menu" ngbDropdownMenu>
              <button type="button" class="dropdown-item" (click)="simulator.selectDrawable('waypoint')">
                Waypoints
              </button>
              <button type="button" class="dropdown-item" (click)="simulator.selectDrawable('obstacle')">
                Obstacles
              </button>
              <button type="button" class="dropdown-item" (click)="simulator.selectDrawable('product')">
                Products
              </button>
            </div>
          </div>
          <div class="card-text">
            <button type="button" class="btn btn-sm btn-outline-secondary" (click)="simulator.duplicateMap()">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                   stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                   class="feather feather-download">
                <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
                <polyline points="7 10 12 15 17 10"></polyline>
                <line x1="12" y1="15" x2="12" y2="3"></line>
              </svg>
              Export Map
            </button>
          </div>
        </div>
      </div>
    </div>
  </aside>
</div>
<hr>
