<div *ngIf="simulator.loaded">
  <div class="form-container">
    <h1>Inventory</h1>
    <h2>Add products</h2>
    <form #productForm="ngForm" (submit)="onSubmit(productForm)">
      <mat-form-field>
        <label for="name">Name</label>
        <input matNativeControl type="text" id="name" name="name" #nameField="ngModel" ngModel required>
      </mat-form-field>
      <mat-form-field>
        <label for="quantity">Quantity</label>
        <input matNativeControl id="quantity" type="number" min="0" name="quantity" #quantityField="ngModel" ngModel
               required>
      </mat-form-field>
      <mat-form-field>
        <label for="x">X</label>
        <input matNativeControl id="x" type="number" min="0" name="x" #xField="ngModel" ngModel required>
      </mat-form-field>
      <mat-form-field>
        <label for="y">Y</label>
        <input matNativeControl id="y" type="number" min="0" name="y" #yField="ngModel" ngModel required>
      </mat-form-field>
      <mat-form-field>
        <label for="mapId">MapId</label>
        <input matNativeControl type="text" id="mapId" name="mapId" #mapField="ngModel" ngModel
               [(ngModel)]="simulator.maps[simulator.selectedMap]._id" required readonly>
      </mat-form-field>
      <button mat-raised-button type="submit">Submit</button>
    </form>
  </div>
  <hr>
  <div>
    <app-inventory-data></app-inventory-data>
  </div>
</div>
