<div *ngIf="simulator.loaded">
  <div class="form-container" *ngIf="auth.isAdmin()">
    <h1>Inventory</h1>
    <h2>Add products</h2>
    <form #productForm="ngForm" (submit)="onSubmit(productForm)">
      <mat-form-field>
        <label for="name">Name</label>
        <input matNativeControl type="text" id="name" name="name" #nameField="ngModel" ngModel required>
      </mat-form-field>
      <mat-form-field>
        <label for="quantity">Quantity</label>
        <input matNativeControl id="quantity" type="number" min="0" name="quantity" #quantityField="ngModel" ngModel
               required>
      </mat-form-field>
      <mat-form-field>
        <label for="mapId">MapId</label>
        <input matNativeControl type="text" id="mapId" name="mapId" #mapField="ngModel" ngModel
               [(ngModel)]="simulator.maps[simulator.selectedMap]._id" required readonly>
      </mat-form-field>
      <mat-form-field>
        <mat-label>ScanZone Id</mat-label>
        <mat-select [(value)]="selectedScanzoneId">
          <mat-option *ngFor="let sc of simulator.maps[simulator.selectedMap].scanzones" [value]="sc._id">
            {{sc.name}} - {{sc._id}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-flat-button color="primary" type="submit">Submit</button>
    </form>
    <h2>Products in {{simulator.maps[simulator.selectedMap].name}}</h2>
  </div>
  <div class="mat-elevation-z8" *ngIf="simulator.loaded">
    <table mat-table class="full-width-table" [dataSource]="products" matSort
           aria-label="Products">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let row">{{row._id}}</td>
      </ng-container>

      <ng-container matColumnDef="scanzone">
        <th mat-header-cell *matHeaderCellDef>ScanZone</th>
        <td mat-cell *matCellDef="let row">{{row.scanzoneId}}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef>Quantity</th>
        <td mat-cell *matCellDef="let row">{{row.quantity}}</td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <button
            type="button"
            aria-label="Delete"
            mat-icon-button
            (click)="deleteProduct(row)">
            <mat-icon aria-label="delete">delete_forever</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
