<div>
  <mat-toolbar *ngIf="simulator.initialized && auth.isAdmin()">
    <button (click)="simulator.validateFlightPath()" mat-flat-button class="toolbar-button">
      <mat-icon>done</mat-icon>
      <span *ngIf="!shared.isHandset$">
        Validate
      </span>
    </button>
    <button (click)="simulator.sendFlightpath()" mat-flat-button class="toolbar-button">
      <mat-icon>play_arrow</mat-icon>
      <span *ngIf="!shared.isHandset$">
        Fly
      </span>
    </button>
    <button type="button" (click)="simulator.stopDrone()" mat-flat-button class="toolbar-button">
      <mat-icon>arrow_drop_down_circle</mat-icon>
      <span *ngIf="!shared.isHandset$">
        Land
      </span>
    </button>
    <button type="button" (click)="simulator.pauseDrone()" mat-flat-button class="toolbar-button">
      <mat-icon>stop</mat-icon>
      <span *ngIf="!shared.isHandset$">
        Stop
      </span>
    </button>
    <button type="button" (click)="simulator.returnDrone()" mat-flat-button class="toolbar-button">
      <mat-icon>home</mat-icon>
      <span *ngIf="!shared.isHandset$">
        Return
      </span>
    </button>
  </mat-toolbar>
  <div class="simulator">
    <app-leaflet [height]="height" *ngIf="simulator.initialized"></app-leaflet>
  </div>
</div>
