<div>
  <mat-toolbar *ngIf="simulator.initialized">
    <button (click)="simulator.validateFlightPath()" mat-button>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
           stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
           class="feather feather-loader">
        <line x1="12" y1="2" x2="12" y2="6"></line>
        <line x1="12" y1="18" x2="12" y2="22"></line>
        <line x1="4.93" y1="4.93" x2="7.76" y2="7.76"></line>
        <line x1="16.24" y1="16.24" x2="19.07" y2="19.07"></line>
        <line x1="2" y1="12" x2="6" y2="12"></line>
        <line x1="18" y1="12" x2="22" y2="12"></line>
        <line x1="4.93" y1="19.07" x2="7.76" y2="16.24"></line>
        <line x1="16.24" y1="7.76" x2="19.07" y2="4.93"></line>
      </svg>
      <span *ngIf="!shared.isHandset$">
        Validate Flightpath
      </span>
    </button>
    <button type="button" class="btn btn-sm btn-outline-secondary" (click)="simulator.start()"
            [disabled]="simulator.map.flightpath.length === 0" mat-button>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
           stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
           class="feather feather-play">
        <polygon points="5 3 19 12 5 21 5 3"></polygon>
      </svg>
      <span *ngIf="!shared.isHandset$">
        Fly Drone
      </span>
    </button>
    <button type="button" class="btn btn-sm btn-outline-secondary" (click)="simulator.reset()" mat-button>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-stop-circle"><circle cx="12" cy="12" r="10"></circle><rect x="9" y="9" width="6" height="6"></rect></svg>
      <span *ngIf="!shared.isHandset$">
        Stop Drone
      </span>
    </button>
    <mat-divider [vertical]="true"></mat-divider>
    <button type="button" class="btn btn-sm btn-outline-secondary" (click)="simulator.exportMap()" mat-button>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
           stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
           class="feather feather-download">
        <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
        <polyline points="7 10 12 15 17 10"></polyline>
        <line x1="12" y1="15" x2="12" y2="3"></line>
      </svg>
      <span *ngIf="!shared.isHandset$">
        Export
      </span>
    </button>
  </mat-toolbar>
  <div class="simulator">
    <app-leaflet></app-leaflet>
    <div *ngIf="simulator.initialized">
      <p *ngIf="simulator.map.flightpath.waypoints.length > 0">Waypoints:
        <span *ngFor="let waypoint of simulator.map.flightpath.waypoints">({{waypoint.x}}, {{waypoint.y}}) </span>
      </p>
    </div>
  </div>
</div>
