<div>
  <mat-toolbar *ngIf="simulator.initialized && auth.isAdmin()">
    <button (click)="simulator.validateFlightPath()" mat-flat-button class="toolbar-button">
      <mat-icon>done</mat-icon>
      <span *ngIf="!shared.isHandset$">
        Validate
      </span>
    </button>
    <button mat-flat-button class="toolbar-button">
      <mat-icon>present_to_all</mat-icon>
      <span *ngIf="!shared.isHandset$">
        Fly
      </span>
    </button>
    <button type="button" (click)="simulator.start()"
            [disabled]="simulator.map.flightpath.length === 0" mat-flat-button class="toolbar-button">
      <mat-icon>play_arrow</mat-icon>
      <span *ngIf="!shared.isHandset$">
        Start
      </span>
    </button>
    <button type="button" (click)="simulator.reset()" mat-flat-button class="toolbar-button">
      <mat-icon>stop</mat-icon>
      <span *ngIf="!shared.isHandset$">
        Stop
      </span>
    </button>
  </mat-toolbar>
  <div class="simulator">
    <app-leaflet [height]="height" *ngIf="simulator.initialized"></app-leaflet>
  </div>
</div>
