<mat-toolbar color="primary">
<span>
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()"
    *ngIf="isHandset$ | async">
  <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
</span>
  <span routerLink="dashboard">Drone Control Center</span>
  <span class="fill-remaining-space"></span>
  <span *ngIf="simulator.loaded && auth.isLoggedIn()">
    <button mat-icon-button [matMenuTriggerFor]="map">
        <mat-icon>layers</mat-icon>
    </button>
    <mat-menu #map="matMenu">
      <button mat-menu-item *ngFor="let map of simulator.maps; index as i" (click)="simulator.selectMap(i)">
          <mat-icon>map</mat-icon>
          <span>{{map.name}} - {{map._id}}</span>
      </button>
    </mat-menu>
  </span>
  <span *ngIf="auth.isLoggedIn()">
    <button mat-icon-button [matMenuTriggerFor]="profile">
        <mat-icon>account_box</mat-icon>
    </button>
    <mat-menu #profile="matMenu">
      <button mat-menu-item routerLink="profile">
          <mat-icon>person</mat-icon>
          <span>Profile</span>
      </button>
      <button mat-menu-item routerlink="">
          <mat-icon>settings</mat-icon>
          <span>Settings</span>
      </button>
    </mat-menu>
  </span>
  <span>
    <button *ngIf="auth.isLoggedIn()" mat-icon-button (click)="auth.logout()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </span>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)">
    <mat-nav-list>
      <a mat-list-item *ngIf="auth.isLoggedIn()" routerLink="dashboard">
        <mat-icon class="sidenav-icon">widgets</mat-icon>
        Dashboard</a>
      <a mat-list-item *ngIf="auth.isLoggedIn()" routerLink="inventory">
        <mat-icon class="sidenav-icon">inbox</mat-icon>
        Inventory</a>
      <a mat-list-item *ngIf="auth.isLoggedIn() && auth.isAdmin()" routerLink="admin">
        <mat-icon class="sidenav-icon">security</mat-icon>
        Admin</a>
      <a mat-list-item *ngIf="auth.isLoggedIn() && auth.isAdmin()" [href]="environment.baseAPIUrl + 'editor'" [target]="_blank">
        <mat-icon class="sidenav-icon">open_in_new</mat-icon>
        Node-RED</a>
      <a mat-list-item *ngIf="!auth.isLoggedIn()" routerLink="login">
        <mat-icon class="sidenav-icon">vpn_key</mat-icon>
        Sign in</a>
      <a mat-list-item *ngIf="!auth.isLoggedIn()" routerLink="register">
        <mat-icon class="sidenav-icon">create</mat-icon>
        Register</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content [ngClass]="!(isHandset$ | async) ? 'mat-sidenav-content' : 'mat-sidenav-content-mobile'" >
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
