<mat-accordion multi="true" class="graph-container">
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Battery
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-graph
      id="batteryGraph"
      [showLegend]="false"
      [yScaleMin]="0"
      [yScaleMax]="100"
      [showYAxisLabel]="true"
      [dataset]="graph.batteryDataset">
    </app-graph>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Position
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-graph
      id="positionGraph"
      [showLegend]="true"
      [yScaleMin]="0"
      [yScaleMax]="simulator.map.size.width"
      [showYAxisLabel]="true"
      [dataset]="graph.positionDataset">
    </app-graph>
  </mat-expansion-panel>
</mat-accordion>
