<!--standard chart (eventueel ngfor werken)-->

<div>
  <mat-grid-list [cols]="4">
    <mat-grid-tile>
      <canvas baseChart
              [chartType]="'line'"
              [datasets]="boundedDataSet"
              [labels]="boundedLabels"
              [options]="boundedOptions"
              [legend]="boundedLegend">
      </canvas>
    </mat-grid-tile>
    <mat-grid-tile>
      <ngx-charts-line-chart
        [results]="D3Dataset"
        [scheme]="colorScheme"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [autoScale]="autoScale"
        [timeline]="timeline"
        (select)="onSelect($event)">
      </ngx-charts-line-chart>
    </mat-grid-tile>
  </mat-grid-list>
</div>
